@font-face {
    font-family: "AvenirRegular";
    src: url("../fonts/AvenirRegular.woff") format('woff');
}

@font-face {
    font-family: "AvenirThin";
    src: url("../fonts/AvenirThin.woff") format('woff');
}

@font-face {
    font-family: "AvenirDemi";
    src: url("../fonts/AvenirDemi.woff") format('woff');
}

.bg-custom{
    background:#f0f2fa;
}
html,
body {
    height: 100%;
}

body{
    background: rgb(248, 250, 252);
    font-family: 'AvenirRegular';
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrap {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

.avenir-thin {
    font-family: 'AvenirThin' !important;
}

.avenir-demi {
    font-family: 'AvenirDemi' !important;
}

.navbar{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.filter_col{

    vertical-align: top;
}

.size6{
    width:82px !important;
}

.carousel-image{
    height:305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

[data-advert]:hover{
    cursor: pointer;
}
